@model SurveyApp.Models.Automation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var ddlManagerEl, ddlEmployeesEl;
    // hideManagersDDL = hideEmployeesDDL = true;

    document.addEventListener('DOMContentLoaded', () => {
        ddlManagerEl = document.querySelector('select[name="Managers"]');
        ddlEmployeesEl = document.querySelector('select[name = "Employees"]');
    });

    function GetAutomationID() {
        const selectedID = $('select[name="ProcessNames"]').find('option:selected').val();
        $("#hfAutomationID").val(selectedID);

        // ddlManagerEl.style.setProperty('display', 'block');

        document.forms[0].submit();
    }

    function GetAutomationTypeID() {
        const selectedID = $('select[name="AutomationTypesVB"]').find('option:selected').val();
        $("#hfAutomationTypeID").val(selectedID);

        let selectedPattern = '';

        function radioChangeHandler(event) {
            // Hide previous selected Pattern Panel
            const allPatternPanels = document.querySelectorAll('.pattern-panel');
            for (const panel of allPatternPanels) {
                panel.style.setProperty('display', 'none');
            }

            // Displaying currently selected radio element panel
            selectedPattern = event.target.value;

            const panelToDisplay = document.querySelector(`.${selectedPattern}`);
            panelToDisplay.style.setProperty('display', 'flex');
        }

        if (selectedID === "2") {
            const modelDialog = document.querySelector('.model-backdrop');
            modelDialog.style.setProperty('display', 'block');

            const weeklyRadioEl = document.getElementById('weekly');
            weeklyRadioEl.checked = true;

            const weeklyPanelEl = document.querySelector('.weekly');
            weeklyPanelEl.style.setProperty('display', 'flex');

            const radioList = document.querySelectorAll('input[name="pattern"]');

            for (const radio of radioList) {
                radio.addEventListener('change', radioChangeHandler)
            }
        }
    }

    function CloseModel(event) {
        // Cleanup before closing model
        const allPatternPanels = document.querySelectorAll('.pattern-panel');
        for (const panel of allPatternPanels) {
            panel.style.setProperty('display', 'none');
        }

        const modelDialog = document.querySelector('.model-backdrop');
        modelDialog.style.setProperty('display', 'none');
    }
    
    function GetManagerID() {
        const selectedID = $('select[name="Managers"]').find('option:selected').val();
        $("#hfManagerID").val(selectedID);

        // ddlEmployeesEl.style.setProperty('display', 'block');

        document.forms[0].submit();
    }

    function GetEmployeesID() {
        const selectedID = $('select[name="Employees"]').find('option:selected').val();
        console.log('=== Selected Employees ===', selectedID);
        $("#hfEmployeesID").val(selectedID);
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2>Initiate Automation Job</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="main-section">
        <div class="left-section">
        <div class="form-group">
            @Html.LabelFor(model => model.ProcessName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProcessNames", null, "Select Process Name", new { @class = "form-control", onchange = "GetAutomationID()" })
                @Html.ValidationMessageFor(model => model.ProcessName, "", new { @class = "text-danger" })
                @Html.Hidden("SelectedAutomationID", null, new { @id = "hfAutomationID" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, 10, 40, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutomationType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AutomationTypesVB", null, "Select Automation Type", new { @class = "form-control", onchange = "GetAutomationTypeID()" })
                @Html.Hidden("SelectedAutomationTypeID", null, new { @id = "hfAutomationTypeID" })
            </div>
        </div>

        <div class="model-backdrop">
            <div class="model-content">
                <div class="btn-close" onclick="CloseModel()">X</div>
                <fieldset class="model-fieldset">
                    <legend class="model-legend">
                        Automation Job Recurrence
                    </legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <span>Number of </span>
                            <input type="number" value="1" name="everyndayvalue" />
                            <span> cycle(s)</span>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="model-fieldset">
                    <legend class="model-legend">
                        Job Recurrence Pattern
                    </legend>
                    <div class="form-group">
                        <div class="model-recurrence-pattern-radio">
                            <span><input type="radio" name="pattern" id="daily" value="daily" /> Daily</span>
                            <span><input type="radio" name="pattern" id="weekly" value="weekly" /> Weekly</span>
                            <span><input type="radio" name="pattern" id="monthly" value="monthly" /> Monthly</span>
                            <span><input type="radio" name="pattern" id="yearly" value="yearly" /> Yearly</span>
                        </div>
                        <div class="pattern-panel daily">
                            <div>
                                <span><input type="radio" name="daily-option" value="everynday" checked="checked" /> Every</span>
                                <input type="number" value="1" name="everyndayvalue" /> day(s)
                            </div>
                            <span>
                                <input type="radio" name="daily-option" value="everyweekday" /> Every weekday
                            </span>
                        </div>
                        <div class="pattern-panel weekly">
                            <span><input type="checkbox" name="weeklydays" /> Sunday</span>
                            <span><input type="checkbox" name="weeklydays" /> Monday</span>
                            <span><input type="checkbox" name="weeklydays" /> Tuesday</span>
                            <span><input type="checkbox" name="weeklydays" /> Wednesday</span>
                            <span><input type="checkbox" name="weeklydays" /> Thursday</span>
                            <span><input type="checkbox" name="weeklydays" /> Friday</span>
                            <span><input type="checkbox" name="weeklydays" /> Saturday</span>
                        </div>
                        <div class="pattern-panel monthly">
                            <div>
                                <span><input type="radio" name="monthly-option" checked="checked" /> Day</span>
                                <input type="number" value="2" name="monthly-day-value" />
                                <span> of every </span>
                                <input type="number" value="1" name="monthly-month-option1-value" />
                                <span> month(s)</span>
                            </div>
                            <div>
                                <span><input type="radio" name="monthly-option" /></span> The
                                <select disabled>
                                    <option value="first" selected>first</option>
                                    <option value="second">second</option>
                                    <option value="third">third</option>
                                    <option value="last">last</option>
                                </select>
                                <select disabled>
                                    <option value="monday" selected>Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                </select>
                                <span> of every </span>
                                <input type="number" value="1" name="monthly-month-option2-value" disabled />
                                <span> month(s)</span>
                            </div>
                        </div>
                        <div class="pattern-panel yearly">
                            <div>
                                <span>Recur every </span>
                                <input type="number" value="1" name="yearly-option1-value" />
                                <span> year(s)</span>
                            </div>
                            <div>
                                <span><input type="radio" name="yearly-option" checked="checked" /></span> On:
                                <select>
                                    <option value="january" selected>January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="july">July</option>
                                    <option value="august">August</option>
                                    <option value="september">September</option>
                                    <option value="october">October</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                                </select>
                                <input type="number" value="1" name="yearly-option2-value" />
                            </div>
                            <div>
                                <span><input type="radio" name="yearly-option" /></span> On the:
                                <select disabled>
                                    <option value="first" selected>first</option>
                                    <option value="second">second</option>
                                    <option value="third">third</option>
                                    <option value="last">last</option>
                                </select>
                                <select disabled>
                                    <option value="monday" selected>Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                </select>
                                <span> of </span>
                                <select disabled>
                                    <option value="january" selected>January</option>
                                    <option value="february">February</option>
                                    <option value="march">March</option>
                                    <option value="april">April</option>
                                    <option value="may">May</option>
                                    <option value="june">June</option>
                                    <option value="july">July</option>
                                    <option value="august">August</option>
                                    <option value="september">September</option>
                                    <option value="october">October</option>
                                    <option value="november">November</option>
                                    <option value="december">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="model-fieldset">
                    <legend class="model-legend">
                        Range of Recurrence
                    </legend>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="Initiate" type="submit" value="Initiate Job" class="btn btn-primary" />
            </div>
        </div>
        </div>
        <div class="right-section">
            <div class="form-group">
                @Html.Label("Select Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                @if (ViewBag.DisableManagerDDL == true)
                {
                    @Html.DropDownList("Managers", null, "Select Manager", new { @class = "form-control", onchange = "GetManagerID()", disabled = true })
                }
                else
                {
                    @Html.DropDownList("Managers", null, "Select Manager", new { @class = "form-control", onchange = "GetManagerID()" })
                }
                @Html.Hidden("SelectedManagerID", null, new { @id = "hfManagerID" })
            </div>
            <div class="form-group">
                @Html.Label("Select Reportees (press Ctrl / Shift for  multiple selection)", htmlAttributes: new { @class = "control-label col-md-2" })
                @if (ViewBag.DisableEmployeeDDL == true)
                {
                    @Html.DropDownList("Employees", null, "Select Employees", new { @class = "form-control", onchange = "GetEmployeesID()", disabled = true })
                }
                else
                {
                    @Html.DropDownList("Employees", null, null, new { @class = "form-control", onchange = "GetEmployeesID()", multiple = true })
                }
                @Html.Hidden("SelectedEmployeesID", null, new { @id = "hfEmployeesID" })
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Create New Job", "Create", null, new { @class = "btn btn-default" })
</div>
